
<tui-root>
  <tui-loader [overlay]="true"
              [showLoader]="!!(isLoading$ | async)">
    <form [formGroup]="filtersGroup">
      <table tuiTable
             class="table"
             [columns]="visibleColumnIds"
             [direction]="(direction$ | async) ?? 1"
             [tuiSortBy]="sortKey$ | async"
             (tuiSortChange)="onSortChange($event)">
        <thead tuiThead>
          <!-- Заголовок таблицы -->
          <tr tuiThGroup>
            <th tuiTh></th>
            @for (column of visibleColumns; track column.id) {
            <th *tuiHead="column.id"
                tuiTh
                tuiSortable
                [requiredSort]="true"
                [resizable]="true">{{column.label}}</th>
            }
          </tr>
          <!-- Поля фильтрации -->
          <tr tuiThGroup>
            <th tuiTh></th>
            @for (column of visibleColumns; track column.id) {
            <th tuiTh>
              <tui-textfield tuiTextfieldSize="s" class="filter-input">
                <input tuiTextfield
                       placeholder="Поиск..."
                       [formControlName]="column.id" />
              </tui-textfield>
            </th>
            }
          </tr>
        </thead>
        @let data = (data2$ | async) || [];
        <tbody tuiTbody [data]="data">
          <ng-container>
            @for (group of data; track $index) {
              @let groupLen = group.length;
              @for (item of group; track $index; let i = $index) {
              <tr tuiTr>
                <td tuiTd>
                  <button appearance="flat-grayscale"
                          size="xs"
                          tuiIconButton
                          type="button"
                          class="chevron-btn"
                          [attr.title]="groupLen ? '' : 'No children'"
                          [disabled]="!groupLen"
                          [style.border-radius]="'100%'"
                          [tuiChevron]="rowState[i] ?? false"
                          (click)="toggleRow(i)">
                    Toggle
                  </button>
                </td>
                <td *tuiCell="'id'" tuiTd>{{ item.id }}</td>
                <td *tuiCell="'text'" tuiTd>{{ item.text }}</td>
                <td *tuiCell="'userFullName'" tuiTd>{{ item.userFullName }}</td>
                <td *tuiCell="'date'" tuiTd>{{ item.date | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
                <td *tuiCell="'eventTypeName'" tuiTd>{{ item.eventTypeName }}</td>
              </tr>
              }
            }
          </ng-container>
        </tbody>
        <tfoot>
          <tr>
            <td [colSpan]="columns.length">
              <tui-table-pagination class="tui-space_top-2"
                                    [page]="(page$ | async) || 0"
                                    [total]="(total$ | async) || 0"
                                    (paginationChange)="onPagination($event)" />
            </td>
          </tr>
        </tfoot>
      </table>
    </form>
    <!-- Скрытие столбцов -->
    <form [formGroup]="showColumnsGroup"
          style="display: flex; justify-content: center; align-items: center; gap: 1.5rem; flex-wrap: wrap;">
      @for (col of columns; track col.id) {
      <label tuiLabel class="tui-space_vertical-2">
        <input [formControlName]="col.id"
               tuiCheckbox
               type="checkbox" />{{ col.label }}
      </label>
      }
    </form>
  </tui-loader>
</tui-root>
