
<tui-root>
  <tui-loader [overlay]="true"
              [showLoader]="!!(isLoading$ | async)">
    <table tuiTable
           class="table"
           [columns]="columns"
           [formGroup]="filters"
           [direction]="(direction$ | async) ?? -1"
           [tuiSortBy]="sortKey$ | async"
           (tuiSortChange)="onSortChange($event)">
      <thead tuiThead>
        <tr tuiThGroup>
          <th *tuiHead="'id'"
              tuiTh
              tuiSortable
              [requiredSort]="true"
              [resizable]="true">ID</th>

          <th *tuiHead="'text'"
              tuiTh
              tuiSortable
              [requiredSort]="true"
              [resizable]="true">Текст</th>

          <th *tuiHead="'userFullName'"
              tuiTh
              tuiSortable
              [requiredSort]="true"
              [resizable]="true">ФИО пользователя</th>

          <th *tuiHead="'date'"
              tuiTh
              tuiSortable
              [requiredSort]="true"
              [resizable]="true">Дата</th>

          <th *tuiHead="'eventTypeName'"
              tuiTh
              tuiSortable
              [requiredSort]="true"
              [resizable]="true">Название типа события</th>
        </tr>
        <tr tuiThGroup>
          @for (column of columns; track $index) {
          <th tuiTh>
            <tui-textfield tuiTextfieldSize="s"
                           class="filter-input">
              <input tuiTextfield                     
                     placeholder="Поиск..."
                     [formControlName]="column"/>
            </tui-textfield>
          </th>
          }
        </tr>
      </thead>
      @let sortedData = (data$ | async) || [];
      <tbody tuiTbody [data]="sortedData">
        @for (item of sortedData; track item.id) {
        <tr tuiTr>
          <td *tuiCell="'id'" tuiTd>{{ item.id }}</td>
          <td *tuiCell="'text'" tuiTd>{{ item.text }}</td>
          <td *tuiCell="'userFullName'" tuiTd>{{ item.userFullName }}</td>
          <td *tuiCell="'date'" tuiTd>{{ item.date | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
          <td *tuiCell="'eventTypeName'" tuiTd>{{ item.eventTypeName }}</td>
        </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td [colSpan]="columns.length">
            <tui-table-pagination class="tui-space_top-2"
                                  [page]="(page$ | async) || 0"
                                  [total]="(total$ | async) || 0"
                                  (paginationChange)="onPagination($event)" />
          </td>
        </tr>
      </tfoot>
    </table>
  </tui-loader>
</tui-root>
