
<tui-root>
  <tui-loader [overlay]="true"
              [showLoader]="!!(isLoading$ | async)">
    <form [formGroup]="filtersGroup">
      <table tuiTable
             class="table"
             [columns]="visibleColumnIds"
             [direction]="(direction$ | async) ?? 1"
             [tuiSortBy]="sortKey$ | async"
             (tuiSortChange)="onSortChange($event)">
        <thead tuiThead>
          <!-- Заголовок таблицы -->
          <tr tuiThGroup>
            <!-- Шеврон -->
            <th tuiTh width="50px"></th>
            @for (column of visibleColumns; track column.id) {
            <th *tuiHead="column.id"
                tuiTh
                tuiSortable
                [requiredSort]="true"
                [resizable]="true"
                [style.width.px]="columnWidths[column.id]"
                (tuiResized)="onColumnResize(column.id, $event)">
              {{column.label}}
            </th>
            }
          </tr>
          <!-- Поля фильтрации -->
          <tr tuiThGroup>
            <th tuiTh width="50px"></th>
            @for (column of visibleColumns; track column.id) {
            <th tuiTh>
              @if (column.id === 'date') {
              <tui-textfield [tuiTextfieldCleaner]="true"
                             tuiTextfieldSize="s">
                <input tuiInputDateRange
                       placeholder="Поиск..."
                       [formControlName]="column.id" />
                <!-- Календарь привязывается к текстовому полю через дропдаун -->
                <tui-calendar-range *tuiTextfieldDropdown></tui-calendar-range>
              </tui-textfield>
              } @else {
              <tui-textfield tuiTextfieldSize="s"
                             [tuiTextfieldCleaner]="true">
                <input tuiTextfield
                       placeholder="Поиск..."
                       [formControlName]="column.id" />
              </tui-textfield>
              }
            </th>
            }
          </tr>
        </thead>
        @let data = (data$ | async) || [];
        <tbody tuiTbody [data]="data">
          <ng-container>
            @for (item of data; track $index; let i = $index) {
            @if (item.children.length > 1) {
              <tr tuiTr class="parent">
                <!-- Шеврон -->
                <td *tuiCell="'children'" tuiTd>
                  <button appearance="flat-grayscale"
                          size="xs"
                          tuiIconButton
                          type="button"
                          class="chevron-btn"
                          [style.border-radius]="'100%'"
                          [tuiChevron]="rowState[i] || false"
                          (click)="toggleRow(i)">
                    Toggle
                  </button>
                </td>
                <td tuiTd [colSpan]="visibleColumns.length">{{ item.groupName }}</td>
                <ng-container *tuiCell="'id'"></ng-container>
                <ng-container *tuiCell="'text'"></ng-container>
                <ng-container *tuiCell="'userFullName'"></ng-container>
                <ng-container *tuiCell="'date'"></ng-container>
                <ng-container *tuiCell="'eventTypeName'"></ng-container>
              </tr>
              <tui-table-expand [expanded]="rowState[i] || false">
                @for (child of item.children; track $index) {
                  <tr tuiTr>
                    <td *tuiCell="'children'" tuiTd>
                    <td *tuiCell="'id'" tuiTd>{{ child.id }}</td>
                    <td *tuiCell="'text'" tuiTd>{{ child.text }}</td>
                    <td *tuiCell="'userFullName'" tuiTd>{{ child.userFullName }}</td>
                    <td *tuiCell="'date'" tuiTd>{{ child.date | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
                    <td *tuiCell="'eventTypeName'" tuiTd>{{ child.eventTypeName }}</td>
                  </tr>
                }
              </tui-table-expand>
              } @else {
                @let child = item.children[0];
                <tr tuiTr>
                  <td *tuiCell="'children'" tuiTd>
                  <td *tuiCell="'id'" tuiTd>{{ child.id }}</td>
                  <td *tuiCell="'text'" tuiTd>{{ child.text }}</td>
                  <td *tuiCell="'userFullName'" tuiTd>{{ child.userFullName }}</td>
                  <td *tuiCell="'date'" tuiTd>{{ child.date | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
                  <td *tuiCell="'eventTypeName'" tuiTd>{{ child.eventTypeName }}</td>
                </tr>
              }
            }
          </ng-container>
        </tbody>

        <!-- Пагинация -->
        <tfoot>
          <tr>
            <td [colSpan]="columns.length + 1">
              <tui-table-pagination class="tui-space_top-2"
                                    [page]="(page$ | async) || 0"
                                    [size]="(size$ | async) || 10"
                                    [total]="(total$ | async) || 0"
                                    (paginationChange)="onPagination($event)" />
            </td>
          </tr>
        </tfoot>
      </table>
    </form>

    <div class="tui-space_bottom-10" style="display: flex; justify-content: center; width: 100%;">

      <div style="display: flex; align-items: flex-start; gap: 4rem;">

        <!-- Отображение столбцов -->
        <div style="display: flex; flex-direction: column;">
          <div class="tui-text_caption tui-space_bottom-2">
            Отображение столбцов:
          </div>
          <form [formGroup]="visibleColumnsGroup" class="checkbox-list">
            @for (col of columns; track col.id) {
            <label tuiLabel class="checkbox-item">
              <input [formControlName]="col.id"
                     tuiCheckbox
                     type="checkbox" />
              {{ col.label }}
            </label>
            }
          </form>
        </div>

        <!-- Группировка -->
        <div style="display: flex; flex-direction: column;">
          <label tuiLabel>
            Группировка:
            <tui-textfield tuiChevron
                           [tuiTextfieldCleaner]="false"
                           [stringify]="getColumnLabelById"
                           style="width: 320px">
              <input tuiSelect
                     [formControl]="groupKeyControl"
                     (ngModelChange)="onGroupChange($event)" />

              <tui-data-list *tuiTextfieldDropdown>
                @for (col of columns; track col.id) {
                <button new
                        tuiOption
                        type="button"
                        [value]="col.id">
                  {{ col.label }}
                </button>
                }
              </tui-data-list>
            </tui-textfield>
          </label>
        </div>
      </div>
    </div>
  </tui-loader>
</tui-root>
